<p>Shortlisted Candidates for <%= @drive.name %> </p>
<p>
Candidates details<br>
--------------------------
</p>
<% @candidates.zip @submissions do |candidate, submission| %>
<p>Name: <%= candidate.first_name %> <%= candidate.last_name %></p>
<p>Email: <%= candidate.email %></p>
<p>code: <%= submission.answer %></p>
---------------------------------------------------------
<%end %>
